<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Homepage</title>
    <link href="index.css" rel="stylesheet" type="text/css" />
    <!-- for google fonts lol https://www.w3schools.com/css/css_font_google.asp-->
  </head>

  <body>
    <script src="script.js"></script>

<!-- top bar --> 
  <ul class="top-bar" > 
    <li class= "nav-bar-btn"> <a href="index.html"> Home </a> </li>
    <li class= "nav-bar-btn"> <a href="Learn/learn.html"> Learn </a> </li>
    <li class= "nav-bar-btn"> <a href="Discover/discover.html"> Discover </a> </li>
    <li class= "nav-bar-btn"> <a href="AboutUs/about.html"> About Us </a> </li>
  </ul>





  </body>
</html>
